---
# 启用哪些检查：开启 bugprone, modern (现代化推荐), performance, 但禁用一些老旧的
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length

# 忽略系统头文件警告
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     file

CheckOptions:
  # 告诉 tidy 我们用的是 C++23
  - key:             modernize-use-std-print.ReplacementFormat
    value:           'fmt'