# CompileFlags:
# #   # Treat code as C++, use C++20 standard, enable more warnings.
#   Add: [-xc++, -std=c++latest, -fexperimental-library,-Wno-missing-prototypes,--cuda-path=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.5, --cuda-gpu-arch=sm_52, -LC:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.5\lib\x64, -IC:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.5\include]
#   # Add:
#   #   - --cuda-path=C:\ProgramData\NVIDIA GPU Computing Toolkit\v11.7
#   #   - --cuda-gpu-arch=sm_52
#   #   - -LC:\ProgramData\NVIDIA GPU Computing Toolkit\CUDA\v11.7\lib\x64
#   #   - -IC:\ProgramData\NVIDIA GPU Computing Toolkit\CUDA\v11.7\include

# #   # Remove extra warnings specified in compile commands.
# #   # Single value is also acceptable, same as "Remove: [-mabi]"
# #   Remove: -mabi
InlayHints:              # 代码提示设置部分
  Enabled: true          # 启用代码提示
  ParameterNames: true   # 显示参数名称提示
  DeducedTypes: true     # 显示推断类型提示
  Designators: true      # 显示设计器提示
# ---
# # Use Remote Index Service for LLVM.
# If:
#   # Note: This is a regexp, notice '.*' at the end of PathMatch string.
#   PathMatch: /path/to/llvm/.*
# Index:
#   External:
#     Server: clangd-index.llvm.org:5900
#     MountPoint: /path/to/llvm/